doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../public/style.css
        title Producto
    body 
        a(href='/',class='btnLink')='Cargar Producto Nuevo' 
        a(href='/api/productos',class='btnLink')='Listado de productos' 
        
        h1(class='titulo')=titulo
        div(class='contenedorProductos')
            if product
                div(class='producto', id=`producto-${product.id}`)
                    div(class='contenedorImg')
                        img(src=product.foto, alt=`imagenProduto-${product.id}`, class='productoImagen')
                    div(class='productoTextos')
                        p(class='productoTitulo')= product.nombre
                        p(class='productoDescripcion')= product.descripcion 
                        p(class='productoStock')='Stock: '+product.stock
                        p(class='productoPrecio')= 'Precio: $ '+product.precio
            else 
                div(class='contenedorNotFound')
                    p(class='textoNotFound')='No se encontraron productos, ingrese otro id'